.log-out-box {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: end;

  button {
    margin-top: 20px;
    color: orange;
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: wheat;
    }
  }
}
