$add-button-color: #1257d6;
$standard-width:500px;

.Todo-Logo {
  color: white;
  width: $standard-width;
  margin: 0 auto;
  margin-top: -40px;
  text-align: center;
}
.Todo-producer {
  background-color: white;
  border-radius: 10px;
  width: $standard-width;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.1);

  input {
    width: 400px;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    &:focus {
      outline: none;
    }
  }
  button {
    color: white;
    background-color: $add-button-color;
    border: 1px solid $add-button-color;
    border-radius: 5px;
    padding: 5px;
    width: 55px;
    cursor: pointer;
  }
}
