$standard-width: 500px;
@mixin icon($size, $top, $right, $left) {
  font-size: $size;
  margin-top: $top;
  margin-right: $right;
  margin-left: $left;
  cursor: pointer;
}

.Todo-Container {
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  margin: 0 auto;
  border-radius: 10px;
  width: $standard-width;
  height: 500px;
}

.Todo-list {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 450px;

  p {
    width: 350px;
  }

  .revise-input {
    padding: 15px;
    width: 310px;
    height: 24px;
    border: none;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
  }

  .revise-BTN {
    margin-right: 10px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    &:hover {
      background-color: #ffbc40;
    }
  }
}

.line-on {
  text-decoration: line-through;
  text-decoration-color: red;
  color: gray;
}
.checkIcon {
  @include icon(25px, 15px, 10px, 10px);
  &:hover {
    color: red;
  }
}

.pencilIcon {
  @include icon(20px, 15px, 5px, 10px);
  &:hover {
    color: red;
  }
}

.trashIcon {
  @include icon(20px, 15px, 20px, 10px);
  &:hover {
    color: red;
  }
}
