$main-BG: #ffbc40;
$button-color: orange;
$login-input-color: #e9e9e9;

.loginPage {
  background-color: $main-BG;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 1px;
}

.loginContainer {
  background-color: white;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10%;
  padding-top: 20px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  h1 {
    padding: 15px;
    color: #666666;
  }

  input {
    border: 1px solid $login-input-color;
    background-color: $login-input-color;
    width: 350px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }
}

.loginBtn {
  width: 350px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px;
  background-color: $button-color;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: orangered;
  }
}

.loginAccount {
  margin-top: 20px;
  padding: 10px;
  color: #666666;

  .loginAccountBtn {
    color: $button-color;
    cursor: pointer;
    &:hover {
      color: orangered;
    }
  }
}
