%alert-text {
  font-size: 11px;
  height: 20px;
  margin-left: 10px;
  margin-top: 20px;
}
%signUp-button {
  margin-top: 30px;
  padding: 15px;
  width: 335px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.Disabled-BlackModal {
  display: none;
}
.BlackModal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.whiteModal {
  background-color: white;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  margin-top: 7%;
  text-align: center;

  .xMark {
    font-size: 30px;
    color: gray;
    margin-left: 80%;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
      color: orange;
    }
  }
  h2 {
    margin-top: 20px;
    padding: 10px;
    color: #666666;
  }
  input {
    width: 300px;
    padding: 15px;
  }
}

.alert {
  display: flex;
  margin: 0 auto;
  width: 330px;
  text-align: initial;

  .correct {
    color: blue;
    @extend %alert-text;
  }

  .non-correct {
    color: red;
    @extend %alert-text;
  }
}

.accountBTN {
  @extend %signUp-button;
  background-color: orange;
  border: 1px solid orange;
  color: white;
}
.disabled-accountBTN {
  @extend %signUp-button;
  background-color: #765413;
  color: gray;
}
